fastapi ~= 0.103
uvicorn[standard]
jinja2
python-multipart
Gunicorn
mysql.connector
db_params = {
    'host': 'roundhouse.proxy.rlwy.net',
    'user': 'root',
    'password': 'hbDF3dFC-2DagA2BGHFcg2-6bd1beE3c',
    'database': 'railway',
    'port': 51507 
}