{% extends 'base.html' %}

{% block content %}
        <div class="yellow-background p-2 px-5">
            <div class="container Telecommunication"> 
                <h2 class="display-4 text-center">Telecommunication</h2>
                    <div class="text-dark px-4 py-2 mx-5 my-2">
                         <p class="text-center display-4" style="font-size: 30px;"> 
                            Soluciones integrales, innovadoras y de clase mundial, a través de tecnologías de punta.</p>
                    </div>
            </div>
        </div>

        <div class="darkened-background p-2">
            <div class="container">
                <div class="mision" >
                    <h3>Misión</h3>
                    <p >Facilitar la conectividad global y mejorar la calidad de vida de las personas a través de soluciones de telecomunicaciones confiables y accesibles.</p>
                </div>
                <div class="vision">
                    <h3>Visión</h3>
                    <p>Convertirnos en líderes reconocidos a nivel mundial en el sector de las telecomunicaciones, proporcionando servicios innovadores y de alta calidad que permitan a las personas, empresas y comunidades estar siempre conectados.</p>
                </div>
                
                <div style="margin-top: 50px; margin: 50px; text-align:justify">
                  <h3>Qué hacemos</h3>
                  <p>En nuestra empresa de telecomunicaciones, brindamos una amplia gama de servicios y soluciones de comunicación, incluyendo telefonía móvil, servicios de internet, telefonía fija, televisión por cable y más. Trabajamos constantemente para expandir nuestra red, mejorar la infraestructura y ofrecer tecnologías de vanguardia para mantener a las personas y las empresas conectadas de manera efectiva. Nuestro compromiso es proporcionar conexiones confiables y accesibles, respaldadas por un excelente servicio al cliente y un enfoque en la innovación tecnológica.</p>
                </div>
            </div>
        </div>
        <div class="bg-dark">
            <div class="container text-warning pt-2 pb-1">
                <div style="margin-top: 50px; margin: 50px; text-align: justify">
                    <h3>Contacto</h3>
                    <p>Puedes contactarnos en Telekomu@gmail.com</p>
                </div>
            </div>
        </div>
            <div class="mt-3 container">
                <h5>Nuestro equipo está conformado por: </h5>
                <div class="row text-center" style="margin-top: 50px; margin: 50px;">
                    <div class="col-md-4 profile-card">
                        <img src="{{ url_for('static', path='imagenes/LincJ.jpg') }}" alt="Nombre del integrante"class="imagen-personalizada" style="width: 100px; height: 100px;">
                        <h6>Josue Torres</h6>
                        <p>Desarrollador de BackEnd</p>
    
                        <a href="/about_Josue">Más</a>
                    </div>
                    <div class="col-md-4 profile-card">
                        <img src="{{ url_for('static', path='imagenes/Perfil_cesar.jpg') }}" alt="Nombre del integrante"class="imagen-personalizada" style="width: 100px; height: 100px;">
                        <h6>Cesar Salas</h6>
                        <p>Desarrollador de FrontEnd</p>
                        <a href="/about_Cesar">Más</a>
                    </div>
                    <div class="col-md-4 profile-card">
                        <img src="{{ url_for('static', path='imagenes/Perfil_carlos.png') }}" alt="Nombre del integrante"class="imagen-personalizada" style="width: 100px; height: 100px;">
                        <h6>Carlos Rodriguez</h6>
                        <p>Diseñador Web Principal</p>
                        <a href="/about_Carlos">Más</a>
                    </div>
                </div>
            </div>
{% endblock %}