{% extends 'base.html' %}

{% block content %}
<!-- Cartas de Servicios -->
<div class="container-fluid" style="display: grid; place-items: center;">
    <div class="card-deck m-5" style="width: 70%;">
            <div class="card expand-icon">
                <a href="/familiar">
                <img class="card-img" src="{{ url_for('static', path='imagenes/servicio1.png') }}" alt="Card image cap">
                <div class="card-img-overlay">
                    <div class="card-img-overlay">
                        <h5 class="text-dark" style="font-size: 425%; writing-mode: vertical-rl; margin: 0px;">Familiar</h5>
                    </div>
                </div>
                </a>
            </div>
            <div class="card expand-icon">
                <a href="/entretenimiento">
                <img class="card-img-top" src="{{ url_for('static', path='imagenes/servicio2.png') }}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="text-white" style="font-size: 425%; writing-mode: vertical-rl; margin: 0px;">Entretenimiento</h5>
                </div>
                </a>
            </div>
            <div class="card expand-icon">
                <a href="/internet">
                <img class="card-img-top" src="{{ url_for('static', path='imagenes/servicio3.png') }}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="text-dark" style="font-size: 425%; writing-mode: vertical-rl; margin: 0px;">Internet</h5>
                </div>
            </a>
            </div>
    </div>
</div>

<div class="card text-center text-white">
    <img src="{{ url_for('static', path='imagenes/Entretenimiento-Bg.jpg') }}" class="card-img align-content-center" alt="...">
    <div class="card-img-overlay align-content-center">
      <p class="display-1" style="font-size: 70px; margin: 40px;">¿Algo te llama la atención?</p>

      <!-- Button trigger modal -->
    <button type="button" class="btn m-3 expand-icon" style="background-color: #000000;" data-toggle="modal" data-target="#modalNetflix">
        <img src="{{ url_for('static', path='imagenes/Netflix icon.png') }}"  alt="Imagen 1" class="img-tamanio-icon">
    </button>
    
    <button type="button" class="btn m-3 expand-icon" style="background-color: #080c44;" data-toggle="modal" data-target="#modalDisney">
        <img src="{{ url_for('static', path='imagenes/disney+.png') }}"  alt="Imagen 2"  class="img-tamanio-icon">
    </button>
    
    <button type="button" class="btn m-3 expand-icon" style="background-color: #803ccc;" data-toggle="modal" data-target="#modalHboMax">
        <img src="{{ url_for('static', path='imagenes/hbomax.png') }}"  alt="Imagen 3" style="scale: 1.40;" class="img-tamanio-icon">
    </button>
    
    <button type="button" class="btn m-3 expand-icon" style="background-color: #ffffff;" data-toggle="modal" data-target="#modalParamount">
        <img src="{{ url_for('static', path='imagenes/Paramount_Plus.webp') }}"  alt="Imagen 4"class="img-tamanio-icon">
    </button>
    
    <button type="button" class="btn m-3 expand-icon" style="background-color: #0c1c29;" data-toggle="modal" data-target="#modalPrimeVideo">
        <img src="{{ url_for('static', path='imagenes/Prime_Video.png') }}"  alt="Imagen 5"class="img-tamanio-icon">
    </button>
  
  <!-- Modal Netflix-->
            <div class="modal" id="modalNetflix" data-target="#modalNetflix">
                <div class="modal-dialog-centered modal-lg">
                    <div class="modal-content" style="background-color: #000000;">
                        <div class="modal-body">
                            <div class="container-fluid text-dark">
                                <div class="row">
                                  <div class="col">
                                    <img src="{{ url_for('static', path='imagenes/Anuncio_netflix_ent.jpeg') }}"  alt="Imagen 6" class="add-size">
                                  </div>
                                  <div class="col">
                                    <div class="modal-header justify-content-end border-0">
                                        <button type="button" class="btn-close text-white" style="border: 0; background-color: #00000000; font-size: 30px;" data-dismiss="modal" aria-label="Close">x</button>
                                  </div>
                                  <img src="{{ url_for('static', path='imagenes/Netflix icon.png') }}"  alt="Imagen 6" style="width: 150px ">
                                  <p class="text-white align-text-center">¡Películas, programas de TV y más ilimitados!</p>
                                  <div class="modal-footer border-0">
                                    <button class="btn btn-outline-danger" type="submit">Más información</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

    <!-- Modal Disney+-->

            <div class="modal" id="modalDisney" data-target="#modalDisney">
                <div class="modal-dialog-centered modal-lg">
                    <div class="modal-content" style="background-color: #080c44;">
                        <div class="modal-body">
                            <div class="container-fluid text-dark">
                                <div class="row">
                                <div class="col">
                                    <img src="{{ url_for('static', path='imagenes/Anuncio_disney_ent.jpg') }}"  alt="Imagen 6" class="add-size">
                                </div>
                                <div class="col">
                                    <div class="modal-header justify-content-end border-0">
                                        <button type="button" class="btn-close text-white" style="border: 0; background-color: #00000000; font-size: 30px;" data-dismiss="modal" aria-label="Close">x</button>
                                  </div>
                                  <img src="{{ url_for('static', path='imagenes/disney+.png') }}"  alt="Imagen 6" style="width: 150px ">
                                  <p class="text-white align-text-center">Disfruta hasta en cuatro pantallas en simultáneo.</p>
                                  <div class="modal-footer border-0">
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Más información</button>
                                  </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        <!-- Modal HboMax-->
            
            <div class="modal" id="modalHboMax" data-target="#modalHboMax">
                <div class="modal-dialog-centered modal-lg">
                    <div class="modal-content" style="background-color: #803ccc">
                        <div class="modal-body">
                            <div class="container-fluid text-dark">
                                <div class="row">
                                <div class="col">
                                    <img src="{{ url_for('static', path='imagenes/Anuncio_hbomax_ent.jpg') }}"  alt="Imagen 6" class="add-size">
                                </div>
                                <div class="col">
                                    <div class="modal-header justify-content-end border-0">
                                        <button type="button" class="btn-close text-white" style="border: 0; background-color: #00000000; font-size: 30px;" data-dismiss="modal" aria-label="Close">x</button>
                                  </div>
                                  <img src="{{ url_for('static', path='imagenes/hbomax.png') }}"  alt="Imagen 6" style="width: 150px; scale: 1.40">
                                  <p class="text-white align-text-center">¡Vive el Entretenimiento!</p>
                                  <div class="modal-footer border-0">
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Más información</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        <!-- Modal Paramount+-->
            
            <div class="modal" id="modalParamount" data-target="#modalParamount">
                <div class="modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-fluid text-dark">
                                <div class="row">
                                  <div class="col">
                                    <img src="{{ url_for('static', path='imagenes/Anuncio_paramount_ent.jpg') }}"  alt="Imagen 6" class="add-size">
                                  </div>
                                  <div class="col">
                                    <div class="modal-header justify-content-end border-0">
                                        <button type="button" class="btn-close text-dark" style="border: 0; background-color: #00000000; font-size: 30px;" data-dismiss="modal" aria-label="Close">x</button>
                                  </div>
                                  <img src="{{ url_for('static', path='imagenes/Paramount_Plus.webp') }}"  alt="Imagen 6" style="width: 150px ">
                                  <p class="text-dark align-text-center">¿Qué vas a ver primero?</p>
                                  <div class="modal-footer border-0">
                                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Más información</button>
                                  </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Modal PrimeVideo-->
            
            <div class="modal" id="modalPrimeVideo" data-target="#modalPrimeVideo" style="top: 500px;">
                <div class="modal-dialog-centered modal-lg">
                    <div class="modal-content" style="background-color: #0c1c29;">
                        <div class="modal-body">
                            <div class="container-fluid text-dark">
                                <div class="row">
                                  <div class="col">
                                    <img src="{{ url_for('static', path='imagenes/Anuncio_primevideo_ent.jpg') }}"  alt="Imagen 6" class="add-size">
                                  </div>
                                  <div class="col">
                                    <div class="modal-header justify-content-end border-0">
                                        <button type="button" class="btn-close text-white" style="border: 0; background-color: #00000000; font-size: 30px;" data-dismiss="modal" aria-label="Close">x</button>
                                  </div>
                                  <img src="{{ url_for('static', path='imagenes/Prime_Video.png') }}"  alt="Imagen 6" style="width: 200px ">
                                  <p class="text-white align-text-center">Disfruta de miles de series populares y películas exclusivas.</p>
                                  <div class="modal-footer border-0">
                                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Más información</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}