{% extends 'base.html' %}

{% block content %}
<div class="Ayuda text-center text-dark my-5 p-2">
    <h2>¿En que te ayudamos?</h2>
</div>

<div class="container">

    <div class="card-group">
        <div class="card">
            <h5 class="card-header text-center bg-dark text-warning">Tu cuenta</h5>
          <div class="card-body">
            <p class="card-text m-0 "><small>• Ingreso a mi cuenta</small></p>
            <p class="card-text m-0 "><small>• Registro a mi cuenta</small></p>
            <p class="card-text m-0 "><small>• Pagos desde mi cuenta</small></p>
            <p class="card-text m-0 "><small>• Recuperar contraseña</small></p>
            <p class="card-text m-0 "><small>• Acceso desde mi cuenta</small></p>
            <p class="card-text m-0 "><small>• Canales digitales</small></p>
          </div>
        </div>
        <div class="card">
            <h5 class="card-header text-center bg-dark text-warning">Facturación</h5>
          <div class="card-body">
            <p class="card-text m-0 "><small>• Dudas sobre facturación</small></p>
            <p class="card-text m-0 "><small>• Lugares y formas de pago</small></p>
            <p class="card-text m-0 "><small>• Consulta y descarga de recibo</small></p>
            <p class="card-text m-0 "><small>• Conocer saldo del recibo</small></p>
            <p class="card-text m-0 "><small>• Domiciliación de tu recibo</small></p>
          </div>
        </div>
        <div class="card">
            <h5 class="card-header text-center bg-dark text-warning">Internet</h5>
          <div class="card-body">
            <p class="card-text m-0 "><small>• Internet lento o intermitente</small></p>
            <p class="card-text m-0 "><small>• Sin conexion a internet</small></p>
            <p class="card-text m-0 "><small>• Problemas con el módem</small></p>
            <p class="card-text m-0 "><small>• Cambiar contraseña del módem</small></p>
          </div>
        </div>
        <div class="card">
            <h5 class="card-header text-center bg-dark text-warning">Entretenimiento</h5>
          <div class="card-body">
            <p class="card-text m-0 "><small>• Prime</small></p>
            <p class="card-text m-0 "><small>• HBO Max</small></p>
            <p class="card-text m-0 "><small>• Disney+</small></p>
            <p class="card-text m-0 "><small>• Netflix</small></p>
            <p class="card-text m-0 "><small>• Paramount+</small></p>
          </div>
        </div>
        <div class="card">
            <h5 class="card-header text-center bg-dark text-warning">Telefonía</h5>
          <div class="card-body">
            <p class="card-text m-0 "><small>• Porblemas con la linea</small></p>
            <p class="card-text m-0 "><small>• Portabilidad a Telecommunication</small></p>
            <p class="card-text m-0 "><small>• Cambio de domicilio</small></p>
          </div>
        </div>
      </div>
      
</div>

<div class="container">
    
    <div class="Plus text-center my-5 p-2 text-dark">
        <h2>¿Deseas mejorar tu conexión?</h2>
    </div>

    <div class="row justify-content-around m-5 align-items-center">
        <div class="col-md-3 text-center">
            <img src="{{ url_for('static', path='imagenes/Fast_communication_black-no_background.png') }}" alt="Fast Communication" class="img-fluid  my-5">
            <p class="h6 mt-3">Consejos para Fast Telecommunication</p>
        </div>
        <div class="col-md-3 text-center">
            <img src="{{ url_for('static', path='imagenes/Modem_icon.png') }}" alt="Icono Modem" class="img-fluid escala_imagen">
            <p class="h6">Uso de banda dual</p>
        </div>
        <div class="col-md-3 text-center">
            <img src="{{ url_for('static', path='imagenes/Signal_icon.png') }}" alt="Icono Modem" class="img-fluid escala_imagen">
            <p class="h6">Extiende tu señal de internet</p>
        </div>
    </div>

</div>

<div class="container mb-5">
  
  <form id="Ayuda" method="post">
    <label for="nombre">Nombre</label>
    <div class="form-group">
      <input type="text" class="form-control" name="nombre" placeholder="Escriba su nombre" required>
    </div>
    <label for="nombre">Correo:</label>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Correo" required>
    </div>
    <label for="pregunta">Problemas o dudas:</label>
    <div class="form-group">
        <select class="form-control" name="opcion_ayuda" id="opcion_ayuda" required>
            <option value="" disabled selected>Selecciona tu pregunta</option>
            <option value="Ingreso a mi cuenta">¿Como ingreso a mi cuenta?</option>
            <option value="Registro a mi cuenta">¿Como registro a mi cuenta?</option>
            <option value="Pagos desde mi cuenta">¿Como pago desde mi cuenta?</option>
            <option value="Recuperar contraseña">¿Como recupero mi contraseña?</option>
            <option value="Acceso desde mi cuenta">¿Que acceso tengo desde mi cuenta?</option>
            <option value="Canales digitales">Canales digitales</option>
            <option value="Dudas sobre facturación">Dudas sobre la facturación</option>
            <option value="Lugares y formas de pago">¿Como registro a mi cuenta?</option>
            <option value="Consulta y descarga de recibo">Lugares y formas de pago</option>
            <option value="Conocer saldo del recibo">¿Como se cual es mi saldo del recibo?</option>
            <option value="Domiciliación de tu recibo">¿Cual es la domiciliación de mi recibo?</option>
            <option value="Internet lento o intermitente">Internet lento o intermitente</option>
            <option value="Sin conexion a internet">No tengo conexion a internet</option>
            <option value="Problemas con el módem">Tengo problemas con el módem</option>
            <option value="Cambiar contraseña del módem">¿Como cambio la contraseña del módem?</option>
            <option value="Prime">Dudas sobre Prime Video</option>
            <option value="HBO Max">Dudas sobre HBO Max</option>
            <option value="Disney+">Dudas sobre Disney+</option>
            <option value="Netflix">Dudas sobre Netflix</option>
            <option value="Paramount+">Dudas sobre Paramount+</option>
            <option value="Porblemas con la linea">Tengo problemas con la linea</option>
            <option value="Portabilidad a Telecommunication">¿Portabilidad a Telecommunication</option>
            <option value="Cambio de domicilio">¿Como cambio de domicilio?</option>
        </select>
    </div>
    
    <label for="pregunta">Mensaje:</label>
    <textarea placeholder="Escriba su pregunta" rows="4" cols="150"></textarea>
</form>

<a  class="btn btn-outline-success btn-block">Enviar</a>
</div>

{% endblock %}