{% extends 'base.html' %}


{% block content %}
<!-- Cartas de Servicios -->
<div class="container-fluid" style="display: grid; place-items: center;">
    <div class="card-deck m-5" style="width: 70%;">
            <div class="card expand-icon">
                <a href="/familiar">
                <img class="card-img" src="{{ url_for('static', path='imagenes/servicio1.png') }}" alt="Card image cap">
                <div class="card-img-overlay">
                    <div class="card-img-overlay">
                        <h5 class="text-dark" style="font-size: 425%; writing-mode: vertical-rl; margin: 0px;">Familiar</h5>
                    </div>
                </div>
                </a>
            </div>
            <div class="card expand-icon">
                <a href="/entretenimiento">
                <img class="card-img-top" src="{{ url_for('static', path='imagenes/servicio2.png') }}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="text-white" style="font-size: 425%; writing-mode: vertical-rl; margin: 0px;">Entretenimiento</h5>
                </div>
                </a>
            </div>
            <div class="card expand-icon">
                <a href="/internet">
                <img class="card-img-top" src="{{ url_for('static', path='imagenes/servicio3.png') }}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="text-dark" style="font-size: 425%; writing-mode: vertical-rl; margin: 0px;">Internet</h5>
                </div>
            </a>
            </div>
    </div>
</div>


<div class="card-deck my-3 mx-1" style="height: 100%;">
<!--Carta especifica--->
<div class="card black-background text-white">
    <div class="card-body py-4 yellow-background" style="height: 100px;">
        <h1 class="card-title text-center">
            50
            <span class="h5">Megas</span>
        </h1>
    </div>
    <div class="card-body py-4 text-center">
        <h5 class="card-subtitle lead">
            desde
            <span class="yellow-text"><span class="h2">$55</span>mil </span>al mes
        </h5>
        <div class="m-5"></div>
        <h6 class="incluye text-center yellow-text black-background">INCLUYE</h6>
        <p class="info ">Telefonia fija <span class="ilimitadas yellow-text">ILIMITADAS</span></p>
        <div class="white-bar"></div>
        <h6 class="info2" style="color: #333333;">Television</h6>
        <div class="white-bar"></div>
        <div class="m-5">Adquiere nuestro plan de internet</div>
        <a href="/comprarP?plan_referencia=Plan%20internet%201" class="btn btn-outline-warning btn-lg mt-3">CONTRATAR</a>
        <a href="/nuevo_contrato?plan_referencia=Plan%20internet%201" class="btn btn-outline-warning btn-lg mt-3">añadir al contrato</a>
    </div>
</div>
<div class="card black-background text-white">
    <div class="card-body py-4 yellow-background" style="height: 100px;">
        <h1 class="card-title text-center">
            70
            <span class="h5">Megas</span>
        </h1>
    </div>
    <div class="card-body py-4 text-center">
        <h5 class="card-subtitle lead">
            desde
            <span class="yellow-text"><span class="h2">$75</span>mil </span>al mes
        </h5>
        <div class="m-5"></div>
        <h6 class="incluye text-center yellow-text black-background">INCLUYE</h6>
        <p class="info ">Telefonia fija <span class="ilimitadas yellow-text">ILIMITADAS</span></p>
        <div class="white-bar"></div>
        <h6 class="info2 " style="color: #333333;">Television</h6>
        <div class="white-bar"></div>
        <div class="m-5">Adquiere nuestro plan de internet</div>
        <a href="/comprarP?plan_referencia=Plan%20internet%202" class="btn btn-outline-warning btn-lg mt-3">CONTRATAR</a>
        <a href="/nuevo_contrato?plan_referencia=Plan%20internet%202" class="btn btn-outline-warning btn-lg mt-3">añadir al contrato</a>
    </div>
</div>
<div class="card black-background text-white">
    <div class="card-body py-4 yellow-background" style="height: 100px;">
        <h1 class="card-title text-center">
            100
            <span class="h5">Megas</span>
        </h1>
    </div>
    <div class="card-body py-4 text-center">
        <h5 class="card-subtitle lead">
            desde
            <span class="yellow-text"><span class="h2">$100</span>mil </span>al mes
        </h5>
        <div class="m-5"></div>
        <h6 class="incluye text-center yellow-text black-background">INCLUYE</h6>
        <p class="info ">Telefonia fija <span class="ilimitadas yellow-text">ILIMITADAS</span></p>
        <div class="white-bar"></div>
        <h6 class="info2" style="color: #333333;">Television</h6>
        <div class="white-bar"></div>
        <div class="m-5">Adquiere nuestro plan de internet</div>
        <a href="/comprarP?plan_referencia=Plan%20internet%203" class="btn btn-outline-warning btn-lg mt-3">CONTRATAR</a>
        <a href="/nuevo_contrato?plan_referencia=Plan%20internet%203" class="btn btn-outline-warning btn-lg mt-3">añadir al contrato</a>

    </div>
</div>
<div class="card black-background text-white">
    <div class="card-body py-4 yellow-background" style="height: 100px;">
        <h1 class="card-title text-center">
            200
            <span class="h5">Megas</span>
        </h1>
    </div>
    <div class="card-body py-4 text-center">
        <h5 class="card-subtitle lead">
            desde
            <span class="yellow-text"><span class="h2">$150</span>mil </span>al mes
        </h5>
        <div class="m-5"></div>
        <h6 class="incluye text-center yellow-text black-background">INCLUYE</h6>
        <p class="info ">Telefonia fija <span class="ilimitadas yellow-text">ILIMITADAS</span></p>
        <div class="white-bar"></div>
        <h6 class="info2" style="color: #333333;">Television</h6>
        <div class="white-bar"></div>
        <div class="m-5">Adquiere nuestro plan de internet</div>
        <a href="/comprarP?plan_referencia=Plan%20internet%204" class="btn btn-outline-warning btn-lg mt-3">CONTRATAR</a>
        <a href="/nuevo_contrato?plan_referencia=Plan%20internet%204" class="btn btn-outline-warning btn-lg mt-3">añadir al contrato</a>
    </div>
</div>
</div>

{% endblock %}