{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Consulta de Producto</h1>

        <form class="container-md-4" action="/consulta" method="post">
            <div class="form-group">
                <label for="cedula">Cedula:</label>
                <input type="text" class="form-control" name="cc" placeholder="Ingrese su cedula" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <h2 class="text-center">[Plan Familiar]</h2>
        <div class="black-bar"></div>
        {% if productos_familiar %}
            <h3 class="mt-4">Productos Familiares:</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre Producto</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Fecha Creación</th>
                            <th>Fecha Expiración</th>
                            <th>Estado de producto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos_familiar %}
                            <tr>
                                <td>{{ producto[2] }}</td>
                                <td>{{ producto[3] }}</td>
                                <td>{{ producto[5] }}</td>
                                <td>{{ producto[6] }}</td>
                                <td>{{ producto[7] }}</td>
                                <td>{{ producto[8] }}</td>
                                <td>{{ producto[9] }}</td>
                                <td>{{ producto[10] }}</td>
                                <td>
                                    {% if producto[10] == 'Activo' %}
                                        <a href="/iniciar_sesion?bd=Familiar&id_producto={{ producto[0] }}&cedula={{ producto[1] }}&nombre_del_producto={{ producto[5] }}" class="btn btn-danger btn-sm">Cancelar</a>
                                    {% elif producto[10] == 'Cancelado' %}
                                        <a href="/renovar_servicio?id_producto={{ producto[0] }}" class="btn btn-success btn-sm">Renovar</a>
                                    {% endif %}  
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="black-bar"></div>

        <h2 class="text-center">[Plan de internet]</h2>
        <div class="black-bar"></div>
        {% if productos_internet %}
            <h3 class="mt-4">Productos de Internet:</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre Producto</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Fecha Creación</th>
                            <th>Fecha Expiración</th>
                            <th>Estado de producto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos_internet %}
                            <tr>
                                <td>{{ producto[2] }}</td>
                                <td>{{ producto[3] }}</td>
                                <td>{{ producto[5] }}</td>
                                <td>{{ producto[6] }}</td>
                                <td>{{ producto[7] }}</td>
                                <td>{{ producto[8] }}</td>
                                <td>{{ producto[9] }}</td>
                                <td>{{ producto[10] }}</td>
                                <td>
                                    {% if producto[10] == 'Activo' %}
                                        <a href="/iniciar_sesion?bd=Internet&id_producto={{ producto[0] }}&cedula={{ producto[1] }}&nombre_del_producto={{ producto[5] }}" class="btn btn-danger btn-sm">Cancelar</a>
                                    {% elif producto[10] == 'Cancelado' %}
                                        <a href="/renovar_servicio?id_producto={{ producto[0] }}" class="btn btn-success btn-sm">Renovar</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="black-bar"></div>

        <h2 class="text-center">[Entretenimiento]</h2>
        <div class="black-bar"></div>
        {% if productos_entretenimiento %}
            <h3 class="mt-4">Productos de Entretenimiento:</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre Producto</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Fecha Creación</th>
                            <th>Fecha Expiración</th>
                            <th>Estado de producto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos_entretenimiento %}
                            <tr>
                                <td>{{ producto[2] }}</td>
                                <td>{{ producto[3] }}</td>
                                <td>{{ producto[5] }}</td>
                                <td>{{ producto[6] }}</td>
                                <td>{{ producto[7] }}</td>
                                <td>{{ producto[8] }}</td>
                                <td>{{ producto[9] }}</td>
                                <td>{{ producto[10] }}</td>
                                <td>
                                    {% if producto[10] == 'Activo' %}
                                        <a href="/iniciar_sesion?bd=Entretenimiento&id_producto={{ producto[0] }}&cedula={{ producto[1] }}&nombre_del_producto={{ producto[5] }}" class="btn btn-danger btn-sm">Cancelar</a>
                                    {% elif producto[10] == 'Cancelado' %}
                                        <a href="/renovar_servicio?id_producto={{ producto[0] }}" class="btn btn-success btn-sm">Renovar</a>
                                    {% endif %} 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="black-bar"></div>

        {% if error %}
            <p class="mt-4" style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}
