{% extends 'base.html' %}

{% block content %}

<div class="col-md-4 container mt-4">
    <h2>Crear Usuario</h2>
    <form class="container md-4" action="/registrar" method="post">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="name" placeholder="Ingrese su nombre" required>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" name="ape" placeholder="Ingrese su apellido" required>
        </div>

        <div class="form-group">
            <label for="cedula">Cédula:</label>
            <input type="text" class="form-control" name="cc" placeholder="Ingrese su número de cédula" required>
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="tel" class="form-control" name="cell" placeholder="Ingrese su número de teléfono" required>
        </div>

        <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico" required>
        </div>

        <div class="form-group">
            <label for="contraseña">Contraseña:</label>
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
            <label for="confirmar contraseña">Confirmar Contraseña:</label>
            <input type="password" class="form-control" name="confirm-password" placeholder="Confirmar Contraseña" required>
        </div>
        <!-- Nuevos campos para tarjeta de crédito -->
        <div class="form-group">
            <label for="tarjeta">Dirección:</label>
            <input type="text" class="form-control" name="direction" placeholder="Ingrese su número de tarjeta de crédito" required>
        </div>

        <!-- Fin de los nuevos campos -->

        <button type="submit" class="btn btn-light my-3">Registrarse</button>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
    <p style="color: green;">{{ success }}</p>
    <a href="/inicio_sesion" class="btn btn-outline-success">Iniciar sesión</a>
    {% endif %}
</div>

<div><h1></h1></div>

{% endblock %}